* {
    box-sizing: border-box;
    
}

body {
    
    padding: 0;
    margin: 0;
}
input{
    display: none;
}
.container {
    width: 100%;
    height: 54%;
    background-color: blueviolet;
    display: flex;
    align-items: center;
}

.box {

    height: 54px;
}

.nav-wrap {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.nav-logo {
    width: 131px;
    padding: 16px 6px 16px 10px;
}

.nav-left {
    width: calc(100% - 131px - 319.141px);
    display: flex;
    justify-content: center;
}

.nav-left ul li {
    padding: 16px 8px 10px 8px;
    position: relative;
    display: inline-block;
}


.nav-right {

    width: 391.141px;
    display: flex;
    justify-content: center;
    position: relative;

}

.nav-right .w-full .ul-1 .ul-2 li {
    padding: 14px 15px 15px;
    font-size: 13px;
}

.mid-1 {
    display: flex;
    justify-content: center
}

.logo {
    max-width: 100%;
    height: auto;
}

.nav-left .w-full li::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #0c0202;
    position: absolute;
    top: 35px;
    display: none;
    border-radius: 10px;
    ;

}

.nav-left .w-full li:hover::before {
    display: block;
}

.nav-right ul li {
    position: relative;
}

.nav-right ul li::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #0c0202;
    position: absolute;
    top: 30px;
    left: 0px;
    display: none;
    border-radius: 10px;
}
.ul-3{width: 100%;height: auto;display: block;}
.nav-right .w-full li:hover::before {
    display: block;
}

a:hover {
    text-decoration: underline;
}



ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#burger:checked+ul {
    display: flex;
}

.ul-1 {

    position: absolute;
    top: 40px;
    right: -367px;
    background-color: #e6e6e6;
    ;
    width: 1230px;
    flex-wrap: wrap;
    height: 455.5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    display: none;
    z-index: 2;

}

.ul-2 {
    padding: 0;
    margin: 0;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
}

.ul-3 {
    /* width: 1228px;
    height: 38px; */
    /* background-color: #D3D3D3; */
}

li {

    list-style: none;

}

.card-body {
    position: relative;

}

.a-1 {
    color: #0067b8;

}

.product {
    position: absolute;
    bottom: 32%;
    margin-left: 12%;
    width: 420px;
    height: 220px;

}

.box-1 {
    width: 300px;
    height: 300px;
    display: none;
}

.yellow-3 {
    width: 72px;
    height: 28px;
    background-color: #ffb900;
    display: flex;
    justify-content: center;
    align-items: center
}

.learn {
    background-color: #0067b8;
    width: 92px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
    color: #fff
}

h1 {
    font-size: 2.3125rem;
    font-weight: 600;
    margin-top: 6px;

}

.lg-coll {
    position: relative;
}

.lg-col {
    position: absolute;
    width: 371px;
    height: 300px;
    background-color: #616161;
    top: 16%;
    right: 72%;

}

.rectangle {
    background-color: #0067b8;
    width: 92px;
    height: 40px;
    color: #fff;
}

.pro-8 {
    font-weight: 600;
    font-size: 2.3125rem;
}

#function .container_1 {
    width: 100%;
    height: 84px;

    background-color: bisque;
}

#function .container_2 {

    height: auto;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#function .container_2-1 {

    height: 200px;
    margin-left: 30px;

    width: 200px;
    display: flex;
}

.blu {
    color: #0067b8;
    box-shadow: 0px 1px;
    color: #0067b8;
}

.icon-1 {
    background-image: url(./../img/icon/gldn-Microsoft-365.jfif);
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.icon-2 {
    background-image: url(./../img/icon/icon-120x120.jfif);
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.bot {

    width: 91%;
    height: auto;

}

.card {
    padding: 5px;
    width: 25%;
    position: relative;
}

.card-2 {
    padding: 5px;
    width: 25%;
    position: relative;
}

.cardd {
    padding: 5px;
    width: 25%;
    position: relative;

}

.card-4 {
    padding: 5px;
    width: 25%;
    position: relative;

}


.c {
    margin-bottom: 10px;
}

.size {
    font-size: 1.8125rem;
}


.pic-top {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0 5%;
    height: auto;


}

.bold {
    font-weight: 600;
    font-size: 2.3125rem;
}

.text-bot {


    width: 30%;
    height: 40%;
    top: 41%;
    left: 10%;
    position: absolute;





}



.bg-blue {
    background-color: #0067b8;
    width: 92px;
    height: 40px;
}

.ard-2text-white {
    color: #fff;
}



.pic {
    position: relative;
}

.butt {
    background-color: #0067b8;
    color: #fff;
    width: 92px;
    height: 40px;
}

.bot-card {

    width: 91%;
    height: auto;
    margin-left: auto;
    margin-right: auto;


}

.font {
    font-weight: 600;
}

.p-5 {
    padding: 5px;
    width: 25%;
}

.bg {
    background-color: #ffb900;
    width: 72px;
    height: 28px;
}

.mt {
    margin-top: 25px;
}

.bot-card-1 {
    background-image: url(./../img/Surface-Laptop-Go-2-03-M01.jfif);
    width: 380px;
    height: 213px;
}

.card-blue {
    background-image: url(./../img/gldn-Teams-Commercial.jfif);
    width: 380px;
    height: 213px;
}

.card-fff {
    background-image: url(./../img/M365-Microsoft365-Commercial.jfif);
    width: 380px;
    height: 213px;
}

.card-white {
    background-image: url(./../img/Content-11-Business.jfif);
    width: 380px;
    height: 213px;
}

.FB-vo {

    width: 100%;
    height: 100px;
}

.img-2 {
    width: 32px;
    height: 32px;
    margin-left: 20px;
}

.nav-row {
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
    padding: 20px;
}

.nav-row .inner-nav-row {
    width: 90%;
}

.nav-row .inner-nav-row .inner-nav-box {
    padding-right: 12px;
    width: calc(100%/6);
}

.footer-item {
    padding-left: 24px;
    padding-bottom: 4px;
}

.li-1 {
    padding: 12px 0px 12px 24px;

}



.size-1 {
    font-size: 11px;
    font-family: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
}

.size-2 {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.color-61 {
    color: #616161;
}

.wrap_business {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none
}

.top-1 {
    
    position: sticky;
    float: right;
    bottom:  0px;

}

/* .baseline::before{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #217aff;
    position: absolute;
    top: 18px;
    left: 0px;
    display: none;
    box-shadow: 1px 1px rgb(52, 32, 165);
}
.baseline:hover::before {
    display: block;
}
.baseline:hover{
    font-weight: bolder;
    color:#217aff;
} */
@media(max-width: 1400px) {
    

    .card {
        width: calc(100% / 2);
    }

    .card-2 {
        width: calc(100% /2);
    }

    .cardd {
        width: calc(100% / 2);
    }

    .card-4 {
        width: calc(100% / 2);
    }



}

@media (max-width: 1084px) {
    .card {
        width: calc(100% / 2);
    }

    .card-2 {
        width: calc(100% /2);
    }

    .cardd {
        width: calc(100% / 2);
    }

    .card-4 {
        width: calc(100% / 2);
    }

    .bot {
        display: flex;
        flex-wrap: wrap;
    }

    .p-5 {
        width: calc(100% / 2);
    }

    .bot-card {
        display: flex;
        flex-wrap: wrap;

    }

    .pic-top {
        padding: 0px;
    }

    .product {
        width: 100%;
        height: auto;
        bottom: 10%;
        right: 0%;
        background-color: #fff;
    }

    .box-1 {
        width: 300px;
        height: 300px;
        display: block;
    }

    .text-bot {
        width: 100%;
        height: 50%;
        top: 100%;
        left: 0%;

    }

    .lg-col {
        width: 100%;
        height: 224.8px;
        top: 60%;
        right: 0px;
    }

    .nav-row .inner-nav-row .inner-nav-box {
        width: calc(100%/3);
    }

    .focus {
        margin-top: 182px;
    }

    .bold {
        font-size: 1.5rem;
    }
}




@media(max-width: 860px) {
    /* .nav-logo {
        order: 2;
    }

    .nav-left {
        order: 1;
    }


    .nav-right {
        order: 3;
    }

    .nav-right ul li:nth-child(1),
    .nav-right ul li:nth-child(2) {
        display: none;
    } */
    .nav-logo{position: absolute;
    z-index: 1;}
    .nav-left{display: none;}
    .w-full .search{flex: auto;}
    .bg-white{width: 100%;}
    .nav-wrap{width: 100%;}
    .w-full span{display: none;}
    .nav-right ul li{position: static;}
    .nav-right .ul-1{width: 100%;right: 0px;height: auto;}
    .nav-right .ul-2{width: 100%;}
    .nav-right .ul-3{ width: 100%;
        height: auto;
        display: none;
    }
    .nav-right #burger-1:checked+.ul-3 {display: block;}
    .nav-right .w-full li:hover::before{display: none;}
    /* .nav-left {
        width: 50%;
    } */

    /* .nav-logo {
        width: 50%;
    } */
/* 
    .nav-right i {
        margin-left: 330px;
    } */


}

@media(max-width: 540px) {
    .card {
        width: 100%;
    }

    .card-2 {
        width: 100%;
    }

    .cardd {
        width: 100%;
    }

    .card-4 {
        width: 100%;
    }

    .bot {
        display: flex;
        flex-wrap: wrap;
    }

    .p-5 {
        width: 100%;
    }

    .bot-card {
        display: flex;
        flex-wrap: wrap;
    }

    .nav-row .inner-nav-row .inner-nav-box {
        width: 100%;
    }

    .footer-wrap .footer-one {
        width: 100%;
    }

    .footer-wrap .footer-two {
        margin-top: 10px;
    }

    .footer-item {
        padding-left: 0px;
        padding-right: 24px;
    }

    #function .container_2-1:nth-child(1),
    #function .container_2-1:nth-child(2) {
        width: 50%;
    }

    #function .container_2-1:last-child {
        width: 100%;
    }
}